cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
dill==0.2.7.1
dnspython==1.15.0
email-validator==1.0.3
enum34==1.1.6
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
idna==2.6
oauth2client==3.0.0
ply==3.8
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.5.2.post1
psutil==5.4.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyTelegramBotAPI==3.6.2
python-http-client==3.0.0
python-telegram-bot==10.0.1
pytz==2018.4
rsa==3.4.2
sendgrid==5.3.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
validate-email==1.3
